.rowr{
	  background-color:#86509c;	
}
.row1{
	  padding-bottom:20px;
	  background-color:#86509c;
}
.img1{
	  padding-top:70px;
}
.nav1{
	  float:right;
	  padding-top:70px;
	  color:white;
}
.nav2{
	  background-color:#643a79;
}
.para1{
	  padding-top:100px;
	  font-weight:bold;
	  font-size:20px;
	  color:white;
	  align:center;	 
}
.p1{
	color:white;
	font-size:20px;
	font-weight:bold;
}
.btn1{
	  background-color:#ec7d45;
	  font-weight:bold;
	  color:white; 
	  margin-bottom:145px;
}
.row2{
	  background-color:#17c1a4;
}
.hr{
	  height:3px;
	  width:3%;
	  background-color:gray;
}
.service{
	  padding-top:120px; 
	  font-weight:bold; 
	  font-size:20px;
	  color:white;
}
.hr1{
	  height:3px;
	  width:3%;
	  background-color:#dfe8ed;
}
.para2{
	  font-weight:bold;
	  font-size:20px;
	  color:white;
}
.img2{
	padding-bottom:66px;
	padding-top:84px;
}
.p{
	color:white;
	padding-bottom:120px;
}
.row3{
	background-color:#e7f1f8;
}
.row6{
	background-color:#e7f1f8;
	padding-bottom:120px;
}
.meet{
	padding-top:120px;
	font-size:20px;
	font-weight:bold;
}
.p2{
	font-weight:bold;
	text-align:center;
}
.p-2{
	font-family:Tahoma;
	//padding-top:5px;
}
.p-1{
	font-size:12px;
	font-family:Tahoma; 
	color:#48c1e9;
}
.row4{
	background-color:#ffffff;
}
.row5{
	background-color:#ffffff;
	padding-bottom:125px;

}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 170px;
  height: 170px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  align:center;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.imgt{
	margin-top:80px;
	margin-bottom:50px;
	margin-left:50px;
}
.pp{
	font-size:40px;
	text-align:center;
}
.row7{
	background-color:#ffdd99;
}
.hr2{
	height:3px;
	width:3%;
	background-color:#e5c37f;
}
.btn2{
	height:40px; 
	width:87px; 
	background-color:#ebc985;
}
.btn3{
	background-color:white;
}
.btn3{
	background-color:#17c2a4;
	margin-top:83px; 
	margin-bottom:109px; 
	color:white;
}
.roww{
	background-color:#d74680;	
}
.row8{
	background-color:#d74680;
	color:white;
}
.img4{
	float:left;
	width:120px;
	margin-right:70px;
}
.hr3{
	height:3px;
	width:3%;
	background-color:#b73c6d;
}
.ceo{
	color:#ffdd99;
	margin-right:40px;
}
.row9{
	padding-top:76px;
	background-color:#d74680;
	color:white;
}
.fluid{
	margin-left:48px;
}
.row10{
	background-color:#d74680;
	color:white;
	padding-top:76px;
	padding-bottom:129px;
}
.rowf{
	background-color:#3c5499;
}
.row11{
	background-color:#3c5499;
}
.hr4{
	height:3px;
	width:3%;
	background-color:#273a71;
}
.con{
	background-color:#273a71; 
	height:53px;
	border:0;
}
form1{
	float:right;
}

.con1{
	background-color:#273a71; 
	border:0;
}
.nav3{
	padding-top:20px; 
	padding-bottom:20px;
}
.b1{
	width:150px;
	font-weight:bold;
	font-family:tahoma;
}
.row13{
	background-color:#344b8e;
}